@model LoginViewModel

@{ 
    ViewData["Title"] = "Log in";
}


<div id="login-register-container">
    <form asp-route="Login" method="post">
        <input asp-for="ReturnUrl" type="hidden" />

        <div>
            <input asp-for="Username" placeholder="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <input asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
        </div>
        <div>
            <button type="submit"><i class="fas fa-sign-in-alt"></i>Log in</button>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
