
/* #region
    Globals
*/
.hidden {
    display: none !important;
}
.red {
    color: red;
}
.field-validation-error {
    display: block;
    margin-top: 0.25rem;
    color: red;
    font-size: 0.85rem;
}
.validation-summary-errors {
    color: red;
}
    .validation-summary-errors > ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

.fas, .far {
    margin-right: 0.5rem;
}
#loadingSpinner {
    border: 0.25rem solid #f3f3f3;
    border-top: 0.25rem solid #3498db;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* #endregion */

/* #region Shared */

    /* #region
        _Layout
    */
    header {
        border-bottom: 1px solid black;
    }
        header > #header-nav {
            display: flex;
            justify-content: space-between;
        }
            header > #header-nav > #site-title {
                font-size: 2.5rem;
                font-weight: bold;
                cursor: pointer;
            }
            header > #header-nav > div {
                display: flex;
                align-items: center;
            }
                header > #header-nav > div > form {
                    display: inline;
                }
                    header > #header-nav > div > form > button {
                        font-size: 1.15rem;
                        margin-left: 0.25rem;
                        margin-right: 0.25rem;
                    }

    main {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    footer {
        border-top: 1px solid black;
    }
    /* #endregion */

    /* #region
        _JobListPartial
    */
    table#job-results {
        width: 100%;
        border: 1px solid darkgray;
        border-collapse: collapse;
    }
        table#job-results > colgroup {}
            table#job-results > colgroup > col#description {
                width: 40%;
            }

        table#job-results > thead {}
            table#job-results > thead th {
                border: 1px solid darkgray;
                border-collapse: collapse;
                padding: 0.35rem;
            }

        table#job-results > tbody {}
            table#job-results > tbody td {
                border: 1px solid darkgray;
                border-collapse: collapse;
                padding: 0.35rem;
            }
                table#job-results > tbody td.jobType,
                table#job-results > tbody td.createdAt,
                table#job-results > tbody td.salary {
                    white-space: nowrap;
                }
                table#job-results > tbody td > details > summary {
                    cursor: pointer;
                }
    /* #endregion */

/* #endregion */

/* #region
    Home
*/

    /* #region
        Index (search page)
    */
    #search-container {
        display: flex;
    }
        #search-container ul {
            margin-block-start: 0;
        }

        /* #region
            Input section
        */
        #search-container > section#input {
            min-width: max-content;
            padding-right: 0.75rem;
            border-right: 1px solid black;
            margin-right: 0.75rem;
        }
            /* Form */
            #search-container > section#input > form {}

                /* #region
                    Fieldsets
                */
                #search-container > section#input > form > fieldset {
                    margin-bottom: 0.5rem;
                }
                    #search-container > section#input > form > fieldset sup {
                        font-size: 0.7em;
                        font-style: italic;
                    }

                    /* #region
                        Search params
                    */
                    #search-container > section#input > form > fieldset#search-params {}
                        #search-container > section#input > form > fieldset#search-params > .searchParam {
                            margin-bottom: 0.5rem;
                        }
                            #search-container > section#input > form > fieldset#search-params > .searchParam > * {
                                display: block;
                            }
                            #search-container > section#input > form > fieldset#search-params > .searchParam > select {
                                max-width: 11rem;
                            }
                            #search-container > section#input > form > fieldset#search-params > .searchParam > input#MilesAway {
                                width: 3rem;
                            }
                            #search-container > section#input > form > fieldset#search-params > .searchParam > input#MinSalary {
                                width: 5rem;
                            }

                        /* Page num */
                        #search-container > section#input > form > fieldset#search-params > div#page-num {
                            text-align: center;
                            padding-bottom: 0.75rem;
                            border-bottom: 1px solid black;
                            margin-bottom: 0.75rem;
                        }
                            #search-container > section#input > form > fieldset#search-params > div#page-num input#Page {
                                width: 3rem;
                            }

                        /* Requirements */
                        #search-container > section#input > form > fieldset#search-params #requirements {
                            font-size: 0.8rem;
                            margin-bottom: 0.5rem;
                        }
                            #search-container > section#input > form > fieldset#search-params #requirements > ul {
                                padding-inline-start: 0.75rem;
                            }

                        /* Notes */
                        #search-container > section#input > form > fieldset#search-params #notes {
                            font-size: 0.8rem;
                        }

                    /* #endregion */
                /* #endregion */

                #search-container > section#input > form > div#submit {
                    text-align: center;
                }

        /* #endregion */

        /* Output section */
        #search-container > section#output {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            #search-container > section#output > span#no-results {
                margin-bottom: 1rem;
            }

    /* #endregion */

/* #endregion */

/* #region
    Account
*/

    /* #region
        Login + Register
    */
    #login-register-container {
        display: flex;
        justify-content: center;
        margin-right: 7.5rem;
    }
        #login-register-container > form {}
            #login-register-container > form > div {
                text-align: center;
                margin-bottom: 0.5rem;
            }

    /* #endregion */

    /* #region
        AccessDenied
    */
    #access-denied-container > h1 {
        text-align: center;
    }

    /* #endregion */

/* #endregion */

/* #region
    Settings
*/

    /* #region
        _Layout
    */
    #settings-container {
        display: flex;
    }
        #settings-container > nav {
            padding-right: 1rem;
            border-right: 1px solid black;
            margin-right: 1rem;
        }
            #settings-container > nav > a {
                display: block;
                margin-bottom: 0.5rem;
            }

        #settings-container h2 {
            margin-block-start: 0;
        }

    /* #endregion */

        /* #region
            ChangePassword
        */
        #settings-container > #change-password {
            text-align: center;
        }
            #settings-container > #change-password > form {}
                #settings-container > #change-password > form > div {
                    margin-bottom: 0.5rem;
                }

        /* #endregion*/

/* #endregion */
