/* <------------------ Globals -------------------> */
.loadingSpinner {
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #3498db;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* ------------------------------------------------ */


/* <------------------ _Layout -------------------> */
header {
    border-bottom: 1px solid black;
}
#main-nav {
    display: flex;
    justify-content: space-between;
}
#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}
#main-nav li {
    display: inline-block;
}
#main-nav a {
    font-size: 1.5rem;
}
#main-nav span {
    font-size: 2rem;
    font-weight: bold;
}

main {
    margin-bottom: 1rem;
}
footer {
    border-top: 1px solid black;
}
/* ------------------------------------------------ */


/* <-------------- _JobListPartial ---------------> */
#results-table {
    width: 100%;
}
#results-table, #results-table th, #results-table td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 0.35rem;
}
#desc-col {
    width: 40%;
}
#results-table details summary {
    cursor: pointer;
}
/* ------------------------------------------------ */


/* <------------------- Search -------------------> */
#search-container {
    display: flex;
}

#input-section {
    min-width: max-content;
    padding-right: 0.75rem;
    border-right: 1px solid black;
    margin-right: 0.75rem;
}
#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchParam {
    margin-bottom: 0.75rem;
}
.validationMessage {
    color: red;
}
.paramNote {
    font-size: 0.75rem;
}
.paramNote ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1rem;
}
#sort-options {
    border-top: 1px solid black;
    padding-top: 0.5rem;
}
#search-form input[type=submit] {
    margin-top: 0.5rem;
}

#output-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------------ */
