@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}


<div id="search-container">
    <section id="input-section">
        <form asp-action="Search" method="get" id="search-form">
            <fieldset>
                <legend>Select job boards to include</legend>

                <div>
                    <input asp-for="Adzuna" type="checkbox" />
                    <label asp-for="Adzuna"></label>
                </div>
                <div>
                    <input asp-for="Github" type="checkbox" />
                    <label asp-for="Github"></label>
                </div>
                <div>
                    <input asp-for="Reed" type="checkbox" />
                    <label asp-for="Reed"></label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Enter search parameters</legend>

                <div class="searchParam">
                    <label asp-for="Country"></label><br />
                    <select asp-for="Country" asp-items="Model.Countries"></select>
                </div>
                <div class="searchParam">
                    <label asp-for="Keywords"></label><br />
                    <input asp-for="Keywords" type="text" placeholder=".NET developer" />
                </div>
                <div class="searchParam">
                    <label asp-for="Location"></label><br />
                    <input asp-for="Location" type="text" placeholder="Tempe, AZ" />
                </div>
                <div class="searchParam">
                    <label asp-for="MilesAway"></label><br />
                    <input asp-for="MilesAway" type="number" placeholder="5" /><br />
                    <span asp-validation-for="MilesAway" class="validationMessage"></span>
                    <div class="paramNote">
                        Note:
                        <ul>
                            <li>GitHub Jobs does not support distance information.</li>
                        </ul>
                    </div>
                </div>
                <div class="searchParam">
                    <label asp-for="MinSalary"></label><br />
                    <input asp-for="MinSalary" type="number" placeholder="75000" /><br />
                    <span asp-validation-for="MinSalary" class="validationMessage"></span>
                    <div class="paramNote">
                        Note:
                        <ul>
                            <li>GitHub Jobs does not support salary information.</li>
                        </ul>
                    </div>
                </div>
                <div class="searchParam">
                    <input asp-for="FullTimeOnly" type="checkbox" />
                    <label asp-for="FullTimeOnly"></label>
                </div>
                <div id="sort-options">
                    <label asp-for="SortBy"></label>
                    <select asp-for="SortBy" asp-items="Model.SortTypes"></select>
                </div>
                <div>
                    <label asp-for="Page"></label>
                    <input asp-for="Page" type="number" placeholder="1" />
                </div>
            </fieldset>

            <input type="submit" value="Search" />
        </form>
    </section>

    <section id="output-section">
        @if (Model.Results != null)
        {
            if (Model.Results.Count == 0)
            {
                <span>No jobs found :(</span>
            }
            else
            {
                <partial name="_JobListPartial" model="Model.Results" />
            }
        }
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const form = $('#search-form');
        form.submit(function (event) {
            if (form.valid()) {
                $('#output-section').html('<div class="loadingSpinner"></div>');
            }
        });
    </script>
}
