@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}


<div id="search-container">
    <section id="input-section">
        <form asp-action="Search" method="get" id="search-form">
            <fieldset>
                <legend>Select job boards to include</legend>

                <div>
                    <input asp-for="Adzuna" type="checkbox" />
                    <label asp-for="Adzuna"></label>
                </div>
                <div>
                    <input asp-for="Github" type="checkbox" />
                    <label asp-for="Github"></label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Enter search parameters</legend>

                <div class="searchParam">
                    <label asp-for="Country"></label>
                    <select asp-for="Country" asp-items="Model.Countries"></select>
                </div>
                <div class="searchParam">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" type="text" placeholder=".NET developer" />
                </div>
                <div class="searchParam">
                    <label asp-for="Location"></label>
                    <input asp-for="Location" type="text" placeholder="Tempe, AZ" />
                </div>
                <div class="searchParam">
                    <label asp-for="Distance"></label>
                    <input asp-for="Distance" type="number" placeholder="5" />
                    <span asp-validation-for="Distance" class="validationMessage"></span>
                </div>
                <div class="searchParam">
                    <label asp-for="MinSalary"></label>
                    <input asp-for="MinSalary" type="number" placeholder="75000" />
                    <span asp-validation-for="MinSalary" class="validationMessage"></span>
                </div>
                <div class="searchParam">
                    <label asp-for="MaxDaysOld"></label>
                    <input asp-for="MaxDaysOld" type="number" placeholder="2" />
                    <span asp-validation-for="MaxDaysOld" class="validationMessage"></span>
                </div>
                <div>
                    <input asp-for="FullTimeOnly" type="checkbox" />
                    <label asp-for="FullTimeOnly"></label>
                </div>
            </fieldset>

            <input type="submit" value="Search" />
        </form>
    </section>

    <section id="output-section">
        @if (Model.Results != null)
        {
            <partial name="_JobListPartial" model="Model.Results" />
        }
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const form = $('#search-form');
        form.submit(function (event) {
            if (form.valid()) {
                $('#output-section').html('<div class="loadingSpinner"></div>');
            }
        });
    </script>
}
