<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - JobFinder</title>
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </head>

    <body>
        <header>
            <nav id="header-nav">
                <div>
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                            <span>Search</span>
                        </button>
                    </form>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="MyJobs" asp-action="Saved" method="get">
                            <button type="submit">
                                <i class="fas fa-archive"></i>
                                <span>My jobs</span>
                            </button>
                        </form>
                    }
                </div>

                <span id="site-title" onclick="javascript: location.href = '@Url.Action("Index", "Home")'">
                    JobFinder
                </span>

                <div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Settings" asp-action="ChangePassword" method="get">
                            <button type="submit">
                                <i class="fas fa-cog"></i>
                                <span>Settings</span>
                            </button>
                        </form>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Log out</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="Login" method="get">
                            <button type="submit">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>Log in</span>
                            </button>
                        </form>
                        <form asp-controller="Account" asp-action="Register" method="get">
                            <button type="submit">
                                <i class="fas fa-user-plus"></i>
                                <span>Register</span>
                            </button>
                        </form>
                    }
                </div>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <small>&copy; 2021 - Charles Morgan</small>
        </footer>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
