<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - JobFinder</title>
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </head>

    <body>
        <header>
            <nav id="header-nav">
                <div>
                    <form asp-route="Index" method="get">
                        <button type="submit"><i class="fas fa-search"></i>Search</button>
                    </form>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form method="get">
                            <button type="submit"><i class="fas fa-archive"></i>My jobs</button>
                        </form>
                    }
                </div>
                <span id="site-title" onclick="javascript: location.href = '@Url.Action("Index", "Home")'">
                    JobFinder
                </span>
                <div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Settings" asp-action="ChangePassword" method="get">
                            <button type="submit"><i class="fas fa-cog"></i>Settings</button>
                        </form>
                        <form asp-route="Logout" method="post">
                            <button type="submit"><i class="fas fa-sign-out-alt"></i>Log out</button>
                        </form>
                    }
                    else
                    {
                        <form asp-route="Login" method="get">
                            <button type="submit"><i class="fas fa-sign-in-alt"></i>Log in</button>
                        </form>
                        <form asp-route="Register" method="get">
                            <button type="submit"><i class="fas fa-user-plus"></i>Register</button>
                        </form>
                    }
                </div>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <small>&copy; 2021 - Charles Morgan</small>
        </footer>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
